<!DOCTYPE html>
<html lang="en">
<head>
    <title>RadioPie</title>
    <style>
            {{styles}}
    </style>
</head>
<body id="body">
    <div align="center">
        <div class="grid">
            <div class="container">
                <h1>{{name}}</h1>
            </div>
            <div class="container">
                <a href="\alarm">Alarm</a>
                <form type='form' method='POST' action='/'>
                    <input type='submit' name='submit' value='on'/>
                    <input type='submit' name='submit' value='test'/>
                    <input type='submit' name='submit' value='off'/>
                    <select name='station'>
                        {% for station in playlist %}
                        {% if station[0] == selected_station %}
                        <option value={{station[0]}} selected=True>{{station[1]}}
                        {% else %}
                        <option value={{station[0]}}>{{station[1]}}
                        {% endif %}
                        {% endfor %}
                    </select>
                    <input type='range' name='volume_bar' min=-3000 max=0 step=100 value="{{volume}}"/>
            </div>
            <div class="container">
                <div style="display:inline-block">
                    <img src={{weather['icon']}}>
                    <p>{{weather['temp_min']}}-{{weather['temp_max']}}*C, {{weather['humidity']}}%,
                        {{weather['pressure']}}pa</p>
                </div>
                {% for item in forecast %}
                <div style="display:inline-block">
                    <img src={{item['icon']}}>
                    <p>{{item['date'][10:16]}}
                        {{item['temp']}}*C, {{item['pressure']}}pa
                    </p>
                </div>
                {% endfor %}
            </div>
            <div class="container">
                <div class="news">
                    {% for item in news %}
                    <div class="news-item"><a href="{{item['url']}}">{{item['title']}}</a></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>